<a class="chat-card__link" href="{{href}}"><div class="chatCard">
    
    <img src="{{avatar}}" class="chatCardAvatar" alt="link" />
    <div class="chatInfoBox">
   <div class="chatTitleBox">
   <p class="chatTitle">
        {{title}}
    </p>
    <p class="chatDate">
      20:02
    </p>
    </div>
    <div class="chatLastMessageBox">
   
    <p class="chatLastMessage">
        {{lastMessage}}
    </p>
    <div class="chatUnreadCount">
        {{unreadCount}}
        </div>
    </div>
  </div>
  </div>
  </a>