<a class="chat-card__link" href="{{ href }}">
  <div class="chat-card">
    <img src="{{ avatar }}" class="chat-card__avatar" alt="link" />
    <div class="chat-card__info-box">
      <div class="chat-card__title-box">
        <p class="chat-card__title">
          {{ title }}
        </p>
        <p class="chat-card__date">20:02</p>
      </div>
      <div class="chat-card__last-message-box">
        <p class="chat-card__last-message">
          {{ lastMessage }}
        </p>
        <div class="chat-card__unread-count">
          {{ unreadCount }}
        </div>
      </div>
    </div>
  </div>
</a>
